/*

!/README.md

#git
!/.gitconfig
!/.gitignoreglobal
!/.gitignore

#ssh
!/.ssh/
/.ssh/*
!/.ssh/config

#Xshell
!/Documents/

/Documents/*
!/Documents/NetSarang Computer/

/Documents/NetSarang Computer/*
!/Documents/NetSarang Computer/6

/Documents/NetSarang Computer/6/*
!/Documents/NetSarang Computer/6/Xshell

/Documents/NetSarang Computer/6/Xshell/*
!/Documents/NetSarang Computer/6/Xshell/Sessions/

#maven
!/.m2/

#node
!/.npmrc

#gvim
!/.spacevim
!/.space-vim/
!/.vimrc
!/.vim/
!/.fzf/

!/AppData/

/AppData/*

!/AppData/Roaming/

/AppData/Roaming/*

#emacs
!/AppData/Roaming/.emacs
!/AppData/Roaming/.emacs.d/

/AppData/Roaming/.emacs.d/*
!/AppData/Roaming/.emacs.d/elpa/
!/AppData/Roaming/.emacs.d/lisp/
!/AppData/Roaming/.emacs.d/org/

!/AppData/Local/

/AppData/Local/*
!/AppData/Local/Temp/

/AppData/Local/Temp/*

#MobaXterm
!/AppData/Local/Temp/Mxt110/

/AppData/Local/Temp/Mxt110/*
!/AppData/Local/Temp/Mxt110/etc/

/AppData/Local/Temp/Mxt110/etc/*
!/AppData/Local/Temp/Mxt110/etc/ssh_config

#idea
!/.IntelliJIdea2018.2/

#atom
!/.atom/

#python
!/pip/
