/*

!/README.md

#git
!/.gitconfig
!/.gitignoreglobal
!/.gitignore

#ssh
!/.ssh/
/.ssh/*
!/.ssh/config

#Xshell
!/Documents/

/Documents/*
!/Documents/NetSarang Computer/

/Documents/NetSarang Computer/*
!/Documents/NetSarang Computer/6

/Documents/NetSarang Computer/6/*
!/Documents/NetSarang Computer/6/Xshell

/Documents/NetSarang Computer/6/Xshell/*
!/Documents/NetSarang Computer/6/Xshell/Sessions/

#maven
!/.m2/

#node
!/.npmrc

#gvim
!/.spacevim
!/.space-vim/
!/.vimrc
!/.vim/
!/.fzf/

#emacs
!/AppData/

/AppData/*
!/AppData/Roaming/

/AppData/Roaming/*
!/AppData/Roaming/.emacs
!/AppData/Roaming/.emacs.withoutOrgMode.bak
!/AppData/Roaming/.emacs.d/

/AppData/Roaming/.emacs.d/*
!/AppData/Roaming/.emacs.d/elpa/
!/AppData/Roaming/.emacs.d/lisp/
!/AppData/Roaming/.emacs.d/org/

#idea
!/.IntelliJIdea2018.3/

#atom
!/.atom/

#python
!/pip/
