/*

!/README.md

#git
!/.gitconfig
!/.gitignoreglobal
!/.gitignore

#maven
!/.m2/

#node
!/.npmrc

#gvim
!/.spacevim
!/.space-vim/
!/.vimrc
!/.vim/
!/.fzf/

#emacs
!/AppData

/AppData/*
!/AppData/Roaming/

/AppData/Roaming/*
!/AppData/Roaming/.emacs
!/AppData/Roaming/.emacs.d/

/AppData/Roaming/.emacs.d/*
!/AppData/Roaming/.emacs.d/elpa/
!/AppData/Roaming/.emacs.d/lisp/
!/AppData/Roaming/.emacs.d/org/

#idea
!/.IntelliJIdea2018.2/

#atom
!/.atom/

#python
!/pip/
